/** DISABLE TEXT SELECTION (SET ON BODY WHEN DRAGGING IS OCCURRING) **/
._jsPlumb_drag_select * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: whitesmoke;
}

path,._jsPlumb_endpoint {
	cursor: pointer;
}

.window {
	background-color: white;
	border: 1px solid #346789;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	width: 5em;
	height: 5em;
	position: absolute;
	color: black;
	padding: 0.5em;
	width: 80px;
	height: 80px;
	line-height: 80px;
	-webkit-transition: -webkit-box-shadow 0.15s ease-in;
	-moz-transition: -moz-box-shadow 0.15s ease-in;
	-o-transition: -o-box-shadow 0.15s ease-in;
	transition: box-shadow 0.15s ease-in;
	text-align: center;
	z-index: 24;
	cursor: pointer;
	box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
}

.window:hover {
	border: 1px solid #123456;
	box-shadow: 2px 2px 19px #444;
	-o-box-shadow: 2px 2px 19px #444;
	-webkit-box-shadow: 2px 2px 19px #444;
	-moz-box-shadow: 2px 2px 19px #fff;
	opacity: 0.9;
	filter: alpha(opacity = 90);
}

/** Z-INDEX **/
._jsPlumb_connector {
	z-index: 18;
}

._jsPlumb_endpoint {
	z-index: 19;
}

._jsPlumb_overlay {
	z-index: 20;
}

.aLabel {
	background-color: white;
	padding: 0.4em;
	font: 12px sans-serif;
	color: #444;
	z-index: 21;
	border: 1px dotted gray;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	cursor: pointer;
}

.aLabel._jsPlumb_hover {
	background-color: #5C96BC;
	color: white;
	border: 1px solid white;
}