/** ELEMENTS **/
.container .window { 
	border:0.1em dotted #d4e06b; 	
	width:14em; height:10em; 	
	line-height:4em;	
}

/** HOVER EFFECTS **/
.container .window:hover, .container .window._jsPlumb_source_hover, .container .window._jsPlumb_target_hover {
    border:1px solid orange;
    color:orange;
}

.canvas {
  position: relative;
  width:100%;
  background-color:white;    
  overflow:auto;  
  margin-top: 53px;
  margin-bottom:25px;
  height: 600px;
}

/** ELEMENT POSITIONS **/
#auctioneer { left:20em; top:6em;}
#concentrator { left:10em;top:18em;}
#freezer { left:4em;top:30em;}


/**
CHECK THESE
*/

 body { font-size: 62.5%; }
label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
