<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss,SSS} %c{1} - %m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
  </appender>
  <appender name="LOGFILE" class="ch.qos.logback.core.FileAppender">
    <File>powermatcher.log</File>
    <Append>true</Append>
    <encoder>
      <pattern>%d{dd MMM yyyy HH:mm:ss,SSS} [%t] %-5p %c - %m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
  </appender>
  <root level="DEBUG">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="LOGFILE"/>
  </root>
</configuration>
