<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>net.powermatcher.server.config.web</display-name>
	<servlet>
		<description>Return the configuration for a node id.</description>
		<display-name>ConfigManagerServlet</display-name>
		<servlet-name>ConfigManagerServlet</servlet-name>
		<servlet-class>net.powermatcher.server.config.web.servlet.ConfigManagerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConfigManagerServlet</servlet-name>

		
		<url-pattern>/nodeconfiguration</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>selectnode</welcome-file>






	</welcome-file-list>
	<security-constraint>
		<display-name>configmanagerConstraint</display-name>
		<web-resource-collection>
			<web-resource-name>
				configmanagerCollection
			</web-resource-name>
			<url-pattern>/</url-pattern>
			<url-pattern>/selectnode</url-pattern>
			<url-pattern>/nodeconfiguration</url-pattern>
			<url-pattern>/triggerupdate</url-pattern>
			<url-pattern>/sendupdaterequest</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>
			Auto generated Authorization Constraint</description>
			<role-name>configmanageraccess</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name></realm-name>
	</login-config>
	<security-role>
		<description>
		</description>
		<role-name>configmanageraccess</role-name>
	</security-role>
	<servlet-mapping>
		<servlet-name>NodeSelectorServlet</servlet-name>
		<url-pattern>/selectnode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateRequestPublisherServlet</servlet-name>
		<url-pattern>/sendupdaterequest</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Select the node id for which to return the configuration.</description>
		<display-name>Node Selector Servlet</display-name>
		<icon>
		</icon>
		<servlet-name>NodeSelectorServlet</servlet-name>
		<jsp-file>/selectnode.jsp</jsp-file>
	</servlet>
	<servlet>
		<description>
		Triggers the ConfigManager configuration updater.</description>
		<display-name>Configuration Update Request Publisher</display-name>
		<servlet-name>UpdateRequestPublisherServlet</servlet-name>
		<servlet-class>net.powermatcher.server.config.web.servlet.UpdateRequestPublisherServlet</servlet-class>
	</servlet>
	<servlet>
		<description>Triggers the configuration update of the configuration	manager by invoking the update request publisher servlet.</description>
		<display-name>Trigger configuration update</display-name>
		<icon>
		</icon>
		<servlet-name>TriggerUpdate</servlet-name>
		<jsp-file>/triggerupdate.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>TriggerUpdate</servlet-name>
		<url-pattern>/triggerupdate</url-pattern>
	</servlet-mapping>
	<resource-ref>
		<description />

		<res-ref-name>ConfigurationCF</res-ref-name>
		<res-type>javax.jms.ConnectionFactory</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref>
		<description />

		<res-ref-name>ConfigurationTopic</res-ref-name>
		<res-type>javax.jms.Topic</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

	
</web-app>