<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>net.powermatcher.server.telemetry.tasks.test</display-name>
	<servlet-mapping>
		<servlet-name>TelemetryPublisher</servlet-name>

		
		<url-pattern>/sendmessage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TelemetrySelector</servlet-name>
		<url-pattern>/selectmessage</url-pattern>
		
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatusPublisher</servlet-name>
		
		<url-pattern>/sendstatus</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>selectmessage</welcome-file>
		






	</welcome-file-list>
	<resource-ref>
		<description />

		<res-ref-name>TelemetryCF</res-ref-name>
		<res-type>javax.jms.ConnectionFactory</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
		

	</resource-ref>
	<resource-ref>
		<description />

		<res-ref-name>TelemetryTopic</res-ref-name>
		<res-type>javax.jms.Topic</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>

	</resource-ref>
	<resource-ref>
		<description />

		<res-ref-name>StatusTopic</res-ref-name>
		<res-type>javax.jms.Topic</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>


	<servlet>
		<description>Servlet for sending Telemetry messages to JMS</description>
		<display-name>Telemetry Message Publisher</display-name>
		<icon>
			<small-icon>icons/small.gif</small-icon>
			<large-icon>icons/small.gif</large-icon>
		</icon>
		<servlet-name>TelemetryPublisher</servlet-name>
		<servlet-class>net.powermatcher.server.telemetry.tasks.test.TelemetryPublisherServlet</servlet-class>
	</servlet>
	<servlet>
		<description>Form to select and publish telemetry message.</description>
		<display-name>Telemetry Message Selector</display-name>
		<servlet-name>TelemetrySelector</servlet-name>
		<jsp-file>/selectmessage.jsp</jsp-file>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Status Publisher </display-name>
		<servlet-name>StatusPublisher</servlet-name>
		<servlet-class>net.powermatcher.server.telemetry.tasks.test.StatusPublisherServlet</servlet-class>
	</servlet>
	<servlet>
		<description>Select status message and publish.</description>
		<display-name>Select Status Message</display-name>
		<servlet-name>StatusSelector</servlet-name>
		<jsp-file>/selectstatusmessage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>StatusSelector</servlet-name>
		<url-pattern>/selectstatus</url-pattern>
	</servlet-mapping>
</web-app>