<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <javaee:display-name>Powermatcher WebSocket Application</javaee:display-name>

    <servlet>
        <servlet-name>AgentWhitelistServlet</servlet-name>
        <servlet-class>net.powermatcher.remote.AgentWhitelist</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AgentWhitelistServlet</servlet-name>
        <url-pattern>/whitelist/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SettingsPeakShaverServlet</servlet-name>
        <servlet-class>net.powermatcher.remote.SettingsPeakShaver</servlet-class>
    </servlet>
    
	<servlet-mapping>
        <servlet-name>SettingsPeakShaverServlet</servlet-name>
        <url-pattern>/settingspeakshaver/*</url-pattern>
    </servlet-mapping>
</web-app>