<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/PowerMatcher.jpg">
         <run
               class="net.powermatcher.simulation.gui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="PowerMatcher Simulation"
            icon="icons/chart_curve.png"
            class="net.powermatcher.simulation.gui.Perspective"
            id="net.powermatcher.simulation.gui.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="net.powermatcher.simulation.gui.views.ConfigurationView"
            icon="icons/application_side_tree.png"
            id="net.powermatcher.simulation.gui.views.configurationview"
            name="Configuration">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="net.powermatcher.simulation.gui.commands.addscenario"
                  label="New Scenario"
                  style="push"
               	  icon="icons/page_add.png"
                  tooltip="Create a new scenario">
            </command>
            <command
                  commandId="net.powermatcher.simulation.gui.command.loadscenario"
                  label="Load Scenario"
               	  icon="icons/page.png"
                  style="push"
                  tooltip="Load a Scenario">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Save"
                  style="push"
                  tooltip="Save the current scenario">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  tooltip="Exit the application">
            </command>
         </menu>
         <menu
               label="Edit">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  label="Undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  label="Redo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  label="Cut"
                  style="push"
                  tooltip="Cut the selected objects">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  label="Copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  label="Paste"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  label="Delete"
                  style="push">
            </command>
         </menu>
         <menu
               label="Start">
            <command
                  commandId="org.eclipse.debug.ui.commands.RunLast"
                  label="Start"
                  style="push">
            </command>
         </menu>
         <menu
               label="Windows">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences"
                  style="push">
            </command>
         </menu>
         <menu
               label="Help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="net.powermatcher.simulation.gui.simulationcontrol">
            <command
                  commandId="net.powermatcher.simulation.gui.commands.start"
                  icon="icons/play.png"
                  label="Start"
                  style="push"
                  tooltip="Start or continue simulation">
            </command>
            <command
                  commandId="net.powermatcher.simulation.gui.commands.pause"
                  icon="icons/pause.png"
                  label="Pause"
                  style="push"
                  tooltip="Pause simulation">
            </command>
            <command
                  commandId="net.powermatcher.simulation.gui.commands.step"
                  icon="icons/step.png"
                  label="Step"
                  style="push"
                  tooltip="Push simulation to next timestep">
            </command>
            <command
                  commandId="net.powermatcher.simulation.gui.commands.stop"
                  icon="icons/stop.png"
                  label="Stop"
                  style="push"
                  tooltip="Stop simulation">
            </command>
            <command
                  commandId="net.powermatcher.simulation.gui.commands.restart"
                  icon="icons/restart.png"
                  label="Restart"
                  style="push"
                  tooltip="Stop the simulation and start from the beginning">
            </command>
            <control
                  class="net.powermatcher.simulation.gui.controls.DelaySliderContribution">
            </control>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:net.powermatcher.simulation.gui.views.configurationview">
         <command
               commandId="net.powermatcher.simulation.gui.handlers.OpenEditor"
               label="Open Editor"
	           icon="icons/application_form_edit.png"
               style="push"
               tooltip="Opens the elements property editor">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <reference
                           definitionId="OpenEditorDefinition">
                     </reference>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="net.powermatcher.simulation.gui.commands.replicate"
               label="Replicate"
               style="push"
               tooltip="Replicates this group for specified number of times">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <or>
                     <reference
                           definitionId="ConcentratorSelected">
                     </reference>
                     <reference
                           definitionId="DeviceAgentSelected">
                     </reference>
                     <reference
                           definitionId="FPAIDeviceAgentSelected">
                     </reference>
                  </or>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="net.powermatcher.simulation.gui.separator1"
               visible="true">
         </separator>
         <menu
               icon="icons/brick_add.png"
               label="Add Agent">
            <dynamic
                  class="net.powermatcher.simulation.gui.menus.AddAgentMenuContribution"
                  id="net.powermatcher.simulation.gui.dynamic">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <reference
                           definitionId="AddAgentDefinition">
                     </reference>
                  </and>
               </with>
            </visibleWhen>
         </menu>
         <menu
               icon="icons/brick_add.png"
               label="Add FPAI Agent">
            <dynamic
                  class="net.powermatcher.simulation.gui.menus.AddFPAIAgentMenuContribution"
                  id="net.powermatcher.simulation.gui.dynamic">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <reference
                           definitionId="AddAgentDefinition">
                     </reference>
                  </and>
               </with>
            </visibleWhen>
         </menu>
         <menu
               icon="icons/arrow_join.png"
               label="Add Resource Manager">
            <dynamic
                  class="net.powermatcher.simulation.gui.menus.AddResourceManagerMenuContribution"
                  id="net.powermatcher.simulation.gui.dynamic">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <reference
                           definitionId="FPAIDeviceAgentSelected">
                     </reference>
                  </and>
               </with>
            </visibleWhen>
         </menu>
         <menu
               icon="icons/arrow_join.png"
               label="Add Resource Model">
            <dynamic
                  class="net.powermatcher.simulation.gui.menus.AddResourceModelMenuContribution"
                  id="net.powermatcher.simulation.gui.dynamic">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <reference
                           definitionId="ResourceManagerSelected">
                     </reference>
                  </and>
               </with>
            </visibleWhen>
         </menu>
         <menu
               icon="icons/arrow_join.png"
               label="Add Concentrator">
            <dynamic
                  class="net.powermatcher.simulation.gui.menus.AddConcentratorMenuContribution"
                  id="net.powermatcher.simulation.gui.dynamicconcentrator">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <reference
                           definitionId="AddAgentDefinition">
                     </reference>
                  </and>
               </with>
            </visibleWhen>
         </menu>
         <separator
               name="net.powermatcher.simulation.gui.separator2"
               visible="true">
         </separator>
         <command
               commandId="net.powermatcher.simulation.gui.command.showpricegraph"
               label="Price graph"
	           icon="icons/chart_curve.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <reference
                           definitionId="AddAgentDefinition">
                     </reference>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="net.powermatcher.simulation.gui.command.showbidgraph"
               label="Bid graph"
	           icon="icons/chart_curve.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <reference
                           definitionId="SupportsBidAndPriceGraph">
                     </reference>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="net.powermatcher.simulation.gui.command.showbidtexturegraph"
               label="Bid graph (texture)"
	           icon="icons/chart_curve.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <reference
                           definitionId="SupportsBidAndPriceGraph">
                     </reference>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="net.powermatcher.simulation.gui.command.addcluster"
               icon="icons/chart_organisation_add.png"
               label="Add Cluster"
               style="push"
               tooltip="Adds a cluster to the given scenario">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <reference
                           definitionId="ScenarioSelected">
                     </reference>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="net.powermatcher.simulation.gui.command.setactive"
               icon="icons/page_lightning.png"
               label="Set Active"
               style="push"
               tooltip="Sets the chosen scenario the active scenario">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <reference
                           definitionId="ScenarioSelected">
                     </reference>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Remove"
               style="push"
               tooltip="Removes the selected element">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <or>
                     <reference
                           definitionId="ConcDeviceAgentDefinition">
                     </reference>
                     <reference
                           definitionId="ClusterSelected">
                     </reference>
                     <reference
                           definitionId="ScenarioSelected">
                     </reference>
                  </or>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.powermatcher.simulation.gui.handlers.AddScenario"
            id="net.powermatcher.simulation.gui.commands.addscenario"
            name="AddScenario">
      </command>
      <command
            defaultHandler="net.powermatcher.simulation.gui.handlers.Start"
            id="net.powermatcher.simulation.gui.commands.start"
            name="Start">
      </command>
      <command
            defaultHandler="net.powermatcher.simulation.gui.handlers.Pause"
            id="net.powermatcher.simulation.gui.commands.pause"
            name="Pause">
      </command>
      <command
            defaultHandler="net.powermatcher.simulation.gui.handlers.Step"
            id="net.powermatcher.simulation.gui.commands.step"
            name="Step">
      </command>
      <command
            defaultHandler="net.powermatcher.simulation.gui.handlers.Stop"
            id="net.powermatcher.simulation.gui.commands.stop"
            name="Stop">
      </command>
      <command
            defaultHandler="net.powermatcher.simulation.gui.handlers.Restart"
            id="net.powermatcher.simulation.gui.commands.restart"
            name="Restart">
      </command>
      <command
            id="net.powermatcher.simulation.gui.commands.addAgent"
            name="AddAgent">
      </command>
      <command
            defaultHandler="net.powermatcher.simulation.gui.handlers.Replicate"
            id="net.powermatcher.simulation.gui.commands.replicate"
            name="Replicate">
      </command>
      <command
            id="net.powermatcher.simulation.gui.commands.addGroup"
            name="AddSubGroup">
      </command>
      <command
            defaultHandler="net.powermatcher.simulation.gui.handlers.ShowPriceGraph"
            id="net.powermatcher.simulation.gui.command.showpricegraph"
            name="ShowPriceGraph">
      </command>
      <command
            defaultHandler="net.powermatcher.simulation.gui.handlers.ShowBidGraph"
            id="net.powermatcher.simulation.gui.command.showbidgraph"
            name="ShowBidGraph">
      </command>
      <command
            defaultHandler="net.powermatcher.simulation.gui.handlers.ShowBidTextureGraph"
            id="net.powermatcher.simulation.gui.command.showbidtexturegraph"
            name="ShowBidTextureGraph">
      </command>
      <command
            defaultHandler="net.powermatcher.simulation.gui.handlers.LoadScenario"
            id="net.powermatcher.simulation.gui.command.loadscenario"
            name="LoadScenario">
      </command>
      <command
            defaultHandler="net.powermatcher.simulation.gui.handlers.AddConcentrator"
            id="net.powermatcher.simulation.gui.command.addconcentrator"
            name="AddConcentrator">
      </command>
      <command
            defaultHandler="net.powermatcher.simulation.gui.handlers.AddAuctioneer"
            id="net.powermatcher.simulation.gui.command.addauctioneer"
            name="AddAuctioneer">
      </command>
      <command
            defaultHandler="net.powermatcher.simulation.gui.handlers.AddCluster"
            id="net.powermatcher.simulation.gui.command.addcluster"
            name="AddCluster">
      </command>
      <command
            defaultHandler="net.powermatcher.simulation.gui.handlers.RemoveAgent"
            id="net.powermatcher.simulation.gui.command.removeagent"
            name="RemoveAgent">
      </command>
      <command
            defaultHandler="net.powermatcher.simulation.gui.handlers.RemoveConcentrator"
            id="net.powermatcher.simulation.gui.command.removeconcentrator"
            name="RemoveConcentrator">
      </command>
      <command
            defaultHandler="net.powermatcher.simulation.gui.handlers.RemoveAuctioneer"
            id="net.powermatcher.simulation.gui.command.removeauctioneer"
            name="RemoveAuctioneer">
      </command>
      <command
            defaultHandler="net.powermatcher.simulation.gui.handlers.RemoveCluster"
            id="net.powermatcher.simulation.gui.command.removecluster"
            name="RemoveCluster">
      </command>
      <command
            defaultHandler="net.powermatcher.simulation.gui.handlers.SetActive"
            id="net.powermatcher.simulation.gui.command.setactive"
            name="Set Active">
      </command>
      <command
            defaultHandler="net.powermatcher.simulation.gui.handlers.RemoveScenario"
            id="net.powermatcher.simulation.gui.command.removescenario"
            name="Remove Scenario">
      </command>
      <command
            defaultHandler="net.powermatcher.simulation.gui.handlers.OpenEditor"
            id="net.powermatcher.simulation.gui.handlers.OpenEditor"
            name="Open Editor">
      </command>
      <command
            defaultHandler="net.powermatcher.simulation.gui.handlers.NewScenarioWizard"
            id="net.powermatcher.simulation.gui.command.newscenariowizard"
            name="New Scenario Wizard">
      </command>
      <command
            id="net.powermatcher.simulation.gui.command.delete"
            name="Delete">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.powermatcher.simulation.gui.handlers.Save"
            commandId="org.eclipse.ui.file.save">
      </handler>
      <handler
            class="net.powermatcher.simulation.gui.handlers.Undo"
            commandId="org.eclipse.ui.edit.undo">
      </handler>
      <handler
            class="net.powermatcher.simulation.gui.handlers.Redo"
            commandId="org.eclipse.ui.edit.redo">
      </handler>
      <handler
            class="net.powermatcher.simulation.gui.handlers.Delete"
            commandId="org.eclipse.ui.edit.delete">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="NodeSelected">
         <iterate
               ifEmpty="false">
            <instanceof
                  value="net.powermatcher.simulation.configuration.NodeDescriptor">
            </instanceof>
         </iterate>
      </definition>
      <definition
            id="AuctioneerSelected">
         <iterate
               ifEmpty="false">
            <instanceof
                  value="net.powermatcher.simulation.configuration.AuctioneerNodeDescriptor">
            </instanceof>
         </iterate>
      </definition>
      <definition
            id="ConcentratorSelected">
         <iterate
               ifEmpty="false">
            <instanceof
                  value="net.powermatcher.simulation.configuration.ConcentratorNodeDescriptor">
            </instanceof>
         </iterate>
      </definition>
      <definition
            id="ClusterSelected">
         <iterate
               ifEmpty="false">
            <instanceof
                  value="net.powermatcher.simulation.configuration.ClusterDescriptor">
            </instanceof>
         </iterate>
      </definition>
      <definition
            id="ScenarioSelected">
         <iterate
               ifEmpty="false">
            <instanceof
                  value="net.powermatcher.simulation.configuration.ScenarioDescriptor">
            </instanceof>
         </iterate>
      </definition>
      <definition
            id="DeviceAgentSelected">
         <iterate
               ifEmpty="false">
            <instanceof
                  value="net.powermatcher.simulation.configuration.DeviceAgentNodeDescriptor">
            </instanceof>
         </iterate>
      </definition>
      <definition
            id="FPAIDeviceAgentSelected">
         <iterate
               ifEmpty="false">
            <instanceof
                  value="net.powermatcher.simulation.configuration.FPAIDeviceAgentNodeDescriptor">
            </instanceof>
         </iterate>
      </definition>
      <definition
            id="FPAIDeviceAgentSelectedWithoutChildren">
         <iterate
               ifEmpty="true">
            <instanceof
                  value="net.powermatcher.simulation.configuration.FPAIDeviceAgentNodeDescriptor">
            </instanceof>
         </iterate>
      </definition>
      <definition
            id="ResourceManagerSelected">
         <iterate
               ifEmpty="false">
            <instanceof
                  value="net.powermatcher.simulation.configuration.ResourceManagerNodeDescriptor">
            </instanceof>
         </iterate>
      </definition>
      <definition
            id="ResourceModelSelected">
         <iterate
               ifEmpty="false">
            <instanceof
                  value="net.powermatcher.simulation.configuration.ResourceDriverNodeDescriptor">
            </instanceof>
         </iterate>
      </definition>
      <definition
            id="SomethingSelected">
         <iterate
               ifEmpty="false"
               operator="or">
            <instanceof
                  value="net.powermatcher.simulation.configuration.ScenarioDescriptor">
            </instanceof>
            <instanceof
                  value="net.powermatcher.simulation.configuration.ClusterDescriptor">
            </instanceof>
            <instanceof
                  value="net.powermatcher.simulation.configuration.NodeDescriptor">
            </instanceof>
         </iterate>
      </definition>
      <definition
            id="OpenEditorDefinition">
         <iterate
               ifEmpty="false"
               operator="or">
            <or>
               <instanceof
                     value="net.powermatcher.simulation.configuration.NodeDescriptor">
               </instanceof>
               <instanceof
                     value="net.powermatcher.simulation.configuration.ScenarioDescriptor">
               </instanceof>
            </or>
         </iterate>
      </definition>
      <definition
            id="AddAgentDefinition">
         <iterate
               ifEmpty="false"
               operator="or">
            <or>
               <instanceof
                     value="net.powermatcher.simulation.configuration.AuctioneerNodeDescriptor">
               </instanceof>
               <instanceof
                     value="net.powermatcher.simulation.configuration.ConcentratorNodeDescriptor">
               </instanceof>
            </or>
         </iterate>
      </definition>
      <definition
            id="ConcDeviceAgentDefinition">
         <iterate
               ifEmpty="false"
               operator="or">
            <and>
               <instanceof
                     value="net.powermatcher.simulation.configuration.NodeDescriptor">
               </instanceof>
               <not>
                  <instanceof
                        value="net.powermatcher.simulation.configuration.AuctioneerNodeDescriptor">
                  </instanceof>
               </not>
            </and>
         </iterate>
      </definition>
      <definition
            id="SupportsBidAndPriceGraph">
         <iterate
               ifEmpty="false"
               operator="or">
            <or>
               <instanceof
                     value="net.powermatcher.simulation.configuration.AuctioneerNodeDescriptor">
               </instanceof>
               <instanceof
                     value="net.powermatcher.simulation.configuration.ConcentratorNodeDescriptor">
               </instanceof>
               <instanceof
                     value="net.powermatcher.simulation.configuration.DeviceAgentNodeDescriptor">
               </instanceof>
               <instanceof
                     value="net.powermatcher.simulation.configuration.FPAIDeviceAgentNodeDescriptor">
               </instanceof>
            </or>
         </iterate>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.powermatcher.simulation.gui.editors.GraphEditor"
            default="false"
            id="net.powermatcher.simulation.gui.editors.grapheditor"
            name="Graph">
      </editor>
      <editor
            class="net.powermatcher.simulation.gui.editors.FigureEditor"
            default="false"
            icon="icons/chart_curve.png"
            id="net.powermatcher.simulation.gui.editors.FigureEditor"
            name="FigureEditor">
      </editor>
      <editor
            class="net.powermatcher.simulation.gui.editors.AgentInfoEditor"
            default="false"
            icon="icons/application_form_edit.png"
            id="net.powermatcher.simulation.gui.editors.agentinfoeditor"
            name="AgentInfoEditor">
      </editor>
      <editor
            class="net.powermatcher.simulation.gui.editors.ScenarioInfoEditor"
            default="false"
            icon="icons/application_form_edit.png"
            id="net.powermatcher.simulation.gui.editors.ScenarioInfoEditor"
            name="ScenorioInfoEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="net.powermatcher.simulation.gui.wizards.ReplicateWizard"
            hasPages="true"
            id="net.powermatcher.simulation.gui.wizards.replicatewizard"
            name="Replicate Wizard">
      </wizard>
      <category
            id="net.powermatcher.simulation.gui"
            name="Sample Wizards">
      </category>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.powermatcher.simulation.gui.application"
            name="PowerMatcher Simulation Tool">
         <property
               name="appName"
               value="PowerMatcher Simulation Tool">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="icons/PM16x16.png,icons/PM32X32.png,icons/PM48x48.png,icons/PM64x64.png,icons/PM128x128.png">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="PowerMatcherSimulatorScheme"
            name="PowerMatcherSimulatorScheme"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
      <key
            commandId="net.powermatcher.simulation.gui.command.newscenariowizard"
            schemeId="PowerMatcherSimulatorScheme"
            sequence="Ctrl+Alt+N">
      </key>
      <key
            commandId="net.powermatcher.simulation.gui.command.loadscenario"
            schemeId="PowerMatcherSimulatorScheme"
            sequence="Ctrl+Alt+O">
      </key>
      <key
            commandId="org.eclipse.ui.edit.delete"
            schemeId="PowerMatcherSimulatorScheme"
            sequence="DEL">
      </key>
   </extension>
</plugin>
